<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
HttpServletRequest:<br>

    <span th:text="${#httpServletRequest.getAttribute('req')}"></span><br>
    <span th:text="${#request.getAttribute('req')}"></span><br>
<hr>
HttpSession:<br>
    <span th:text="${session.ses}"></span><br>
    <span th:text="${#session.getAttribute('ses')}"></span><br>
<hr>
ServletContext:<br>
    <span th:text="${application.app}"></span><br>
    <span th:text="${#servletContext.getAttribute('app')}"></span>
<hr>

</body>
</html>